.lin{
    background-color: #0000ff;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #000000;
    padding: 5px;
    display: block;
    width: 150px;
    margin-bottom: 5px;
    text-align: center;
}
.lin:hover{
    background-color: #ff00ff;
    color: #ffff00;
}
.lin:active{
    background-color: #ffff00;
    color: #ff00ff;
}
#ok1{
    background-color: #ff4500;
    color: #000000;
    padding: 10px;
}
#ok2{
    background-color: #00ffff;
    color: #a52a2a;
    padding: 10px;
}
#ok3{
    background-color: #a52a2a;
    color: #00ffff;
    padding: 10px;
}
#ok4{
    background-color: #800080;
    color: #ffffff;
    padding: 10px;
}
#ok5{
    background-color: #0A7800;
    color: #FF8686;
    padding: 10px;
}
#Up{
    text-align: center;
    font-size: 22px;
}
#backk{
    font-style: italic;
}
#Content1{
    text-align: center;
}
article>h2{
    font-size: 1.2em;
}
.Back_to{
    font-weight: bold;
}
#Up1{
    text-transform: uppercase;
}
article{
    font-size: 1.2em;
    margin-bottom: 10px;
}
.bloo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.one_blo, .two_blo, .three_blo, .four_blo, .five_blo{
    padding: 20px;
    border: 1px solid #000000;
    text-align: center;
}
.one_blo{
    background-color: #ff4500;
}
.two_blo{
    background-color: #00ffff;
}
.three_blo{
    background-color: #a52a2a;
}
.four_blo{
    background-color: #800080;
}
.five_blo{
    background-color: #0A7800;
}
.every{
    margin-inline: 5px;
}
@media (min-width: 992px){
    .col-lg-1 { 
    width: 8.33%; 
    } 
    .col-lg-2 { 
    width: 16.66%; 
    } 
    .col-lg-3 { 
    width: 25%; 
    } 
    .col-lg-4 { 
    width: 33.33%; 
    } 
    .col-lg-5 { 
    width: 41.66%; 
    } 
    .col-lg-6 { 
    width: 50%; 
    } 
     
    .col-lg-7 { 
    width: 58.33%; 
    } 
    .col-lg-8 { 
    width: 66.66%; 
    } 
    .col-lg-9 { 
    width: 75%; 
    } 
    .col-lg-10 { 
    width: 83.33%; 
    } 
    .col-lg-11 { 
    width: 91.66%; 
    } 
    .col-lg-12 { 
    width: 100%; 
    } 
} 
@media (min-width: 768px) and (max-width: 992px) {
    .col-md-1 { 
    width: 8.33%; 
    } 
    .col-md-2 { 
    width: 16.66%; 
    } 
    .col-md-3 { 
    width: 25%; 
    } 
    .col-md-4 { 
    width: 33.33%; 
    } 
    .col-md-5 { 
    width: 41.66%; 
    } 
    .col-md-6 { 
    width: 50%; 
    } 
    .col-md-7 { 
    width: 58.33%; 
    } 
    .col-md-8 { 
    width: 66.66%; 
    } 
    .col-md-9 { 
    width: 75%; 
    } 
    .col-md-10 { 
    width: 83.33%; 
    } 
    .col-md-11 { 
    width: 91.66%; 
    } 
    .col-md-12 { 
    width: 100%; 
    } 
} 
@media (max-width: 768px) { 
    .col-sd-1 { 
    width: 8.33%; 
    } 
    .col-sd-2 { 
    width: 16.66%; 
    } 
    .col-sd-3 { 
    width: 25%; 
    } 
    .col-sd-4 { 
    width: 33.33%; 
    } 
    .col-sd-5 { 
    width: 41.66%; 
    } 
    .col-sd-6 { 
    width: 50%; 
    } 
    .col-sd-7 { 
    width: 58.33%; 
    } 
    .col-sd-8 { 
    width: 66.66%; 
    } 
    .col-sd-9 { 
    width: 75%; 
    } 
    .col-sd-10 { 
    width: 83.33%; 
    } 
    .col-sd-11 { 
    width: 91.66%; 
    } 
    .col-sd-12 { 
    width: 100%; 
    } 
}