table{
    border: 2px solid black;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
table tr:nth-child(even){
    background-color: #808080;
}
table tr:nth-child(odd){
    background-color: #ffffff;
}
table td, th{
    padding: 10px;
    border: 2px solid #000000;
}
h1{
    text-align: center;
    font-size: 22px;
}
#Back_to{
    font-style: italic;
}
h2{
    text-align: center;
}
th{
    text-align: center;
    background-color: #008000;
    color:#ffffff;
    font-weight: bold;
}
tr>td:nth-child(5){
    text-align: right;
    padding-left: 30px;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media (min-width: 992px){
    th{
        font-size: 1.3em;
    }
    td{
        font-size: 1.2em;
    }
    .col-lg-1 { 
    width: 8.33%; 
    } 
    .col-lg-2 { 
    width: 16.66%; 
    } 
    .col-lg-3 { 
    width: 25%; 
    } 
    .col-lg-4 { 
    width: 33.33%; 
    } 
    .col-lg-5 { 
    width: 41.66%; 
    } 
    .col-lg-6 { 
    width: 50%; 
    } 
    .col-lg-7 { 
    width: 58.33%; 
    } 
    .col-lg-8 { 
    width: 66.66%; 
    } 
    .col-lg-9 { 
    width: 75%; 
    } 
    .col-lg-10 { 
    width: 83.33%; 
    } 
    .col-lg-11 { 
    width: 91.66%; 
    } 
    .col-lg-12 { 
    width: 100%; 
    } 
} 
@media (min-width: 768px) and (max-width: 992px) {
    th{
        font-size: 1.2em;
    }
    td{
        font-size: 1.1em;
    }
    .col-md-1 { 
    width: 8.33%; 
    } 
    .col-md-2 { 
    width: 16.66%; 
    } 
    .col-md-3 { 
    width: 25%; 
    } 
    .col-md-4 { 
    width: 33.33%; 
    } 
    .col-md-5 { 
    width: 41.66%; 
    } 
    .col-md-6 { 
    width: 50%; 
    } 
    .col-md-7 { 
    width: 58.33%; 
    } 
    .col-md-8 { 
    width: 66.66%; 
    } 
    .col-md-9 { 
    width: 75%; 
    } 
    .col-md-10 { 
    width: 83.33%; 
    } 
    .col-md-11 { 
    width: 91.66%; 
    } 
    .col-md-12 { 
    width: 100%; 
    } 
} 
@media (max-width: 768px) { 
    th{
        font-size: 1.1em;
    }
    td{
        font-size: 1em;
    }
    .col-sd-1 { 
    width: 8.33%; 
    } 
    .col-sd-2 { 
    width: 16.66%; 
    } 
    .col-sd-3 { 
    width: 25%; 
    } 
    .col-sd-4 { 
    width: 33.33%; 
    } 
    .col-sd-5 { 
    width: 41.66%; 
    } 
    .col-sd-6 { 
    width: 50%; 
    } 
    .col-sd-7 { 
    width: 58.33%; 
    } 
    .col-sd-8 { 
    width: 66.66%; 
    } 
    .col-sd-9 { 
    width: 75%; 
    } 
    .col-sd-10 { 
    width: 83.33%; 
    } 
    .col-sd-11 { 
    width: 91.66%; 
    } 
    .col-sd-12 { 
    width: 100%; 
    } 
}